USE [QuanLyCamDo_K235480106056]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_CalcMoneyContract]    Script Date: 5/12/2026 2:59:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_CalcMoneyContract] (@MaHD INT, @TargetDate DATE)
RETURNS DECIMAL(18,2)
AS
BEGIN
    DECLARE @Goc DECIMAL(18,2), @D1 DATE, @NgayLap DATE, @TongNo DECIMAL(18,2);
    DECLARE @SoNgayDon INT, @SoNgayKep INT;

    SELECT @Goc = SoTienGoc, @D1 = Deadline1, @NgayLap = NgayLap 
    FROM HopDong WHERE MaHopDong = @MaHD;

    -- Trường hợp 1: Chưa quá Deadline 1 (Chỉ tính lãi đơn)
    IF @TargetDate <= @D1
    BEGIN
        SET @SoNgayDon = DATEDIFF(day, @NgayLap, @TargetDate);
        SET @TongNo = @Goc + (@Goc * 0.005 * @SoNgayDon);
    END
    -- Trường hợp 2: Đã qua Deadline 1 (Tính lãi đơn tới D1, sau đó tính lãi kép)
    ELSE
    BEGIN
        -- Tính tổng gốc + lãi đơn tại thời điểm D1
        SET @SoNgayDon = DATEDIFF(day, @NgayLap, @D1);
        DECLARE @NoTaiD1 DECIMAL(18,2) = @Goc + (@Goc * 0.005 * @SoNgayDon);
        
        -- Tính lãi kép từ sau D1 đến TargetDate (Lãi 0.5%/ngày trên tổng nợ cũ)
        SET @SoNgayKep = DATEDIFF(day, @D1, @TargetDate);
        SET @TongNo = @NoTaiD1 * POWER(1 + 0.005, @SoNgayKep);
    END

    RETURN @TongNo;
END;
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 5/12/2026 2:59:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MaKhachHang] [int] IDENTITY(1,1) NOT NULL,
	[HoTen] [nvarchar](100) NOT NULL,
	[SoDienThoai] [varchar](15) NOT NULL,
	[CCCD] [varchar](20) NOT NULL,
	[DiaChi] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKhachHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HopDong]    Script Date: 5/12/2026 2:59:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HopDong](
	[MaHopDong] [int] IDENTITY(1,1) NOT NULL,
	[MaKhachHang] [int] NOT NULL,
	[NgayLap] [date] NOT NULL,
	[SoTienGoc] [decimal](18, 2) NOT NULL,
	[Deadline1] [date] NOT NULL,
	[Deadline2] [date] NOT NULL,
	[TrangThai] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHopDong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[v_DanhSachNoXau]    Script Date: 5/12/2026 2:59:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Tạo View để quản lý danh sách nợ xấu
CREATE VIEW [dbo].[v_DanhSachNoXau] AS
SELECT 
    kh.HoTen AS [Tên Khách Hàng], 
    kh.SoDienThoai AS [Số Điện Thoại], 
    hd.SoTienGoc AS [Tiền Gốc], 
    -- Tính số ngày quá hạn kể từ Deadline 1
    DATEDIFF(day, hd.Deadline1, GETDATE()) AS [Số Ngày Quá Hạn],
    
    -- Gọi hàm tính tiền nợ đến ngày hôm nay
    dbo.fn_CalcMoneyContract(hd.MaHopDong, GETDATE()) AS [Tổng Nợ Hiện Tại],
    
    -- Gọi hàm tính tiền nợ dự kiến sau 1 tháng (30 ngày) nữa
    dbo.fn_CalcMoneyContract(hd.MaHopDong, DATEADD(month, 1, GETDATE())) AS [Dự Kiến Nợ Sau 1 Tháng]

FROM KhachHang kh
JOIN HopDong hd ON kh.MaKhachHang = hd.MaKhachHang
WHERE 
    GETDATE() > hd.Deadline1                     -- Đã quá hạn Deadline 1
    AND hd.TrangThai <> N'Đã thanh toán đủ'      -- Và chưa trả hết tiền
    AND hd.TrangThai <> N'Đã thanh lý';          -- Và chưa bán đồ thanh lý
GO
/****** Object:  Table [dbo].[Log_GiaoDich]    Script Date: 5/12/2026 2:59:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Log_GiaoDich](
	[MaLog] [int] IDENTITY(1,1) NOT NULL,
	[MaHopDong] [int] NOT NULL,
	[NgayTra] [datetime] NULL,
	[SoTienTra] [decimal](18, 2) NOT NULL,
	[NguoiThuTien] [nvarchar](100) NOT NULL,
	[GhiChu] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLog] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiSan]    Script Date: 5/12/2026 2:59:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiSan](
	[MaTaiSan] [int] IDENTITY(1,1) NOT NULL,
	[MaHopDong] [int] NOT NULL,
	[TenTaiSan] [nvarchar](100) NOT NULL,
	[GiaTriDinhGia] [decimal](18, 2) NOT NULL,
	[TrangThai] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTaiSan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[HopDong] ON 

INSERT [dbo].[HopDong] ([MaHopDong], [MaKhachHang], [NgayLap], [SoTienGoc], [Deadline1], [Deadline2], [TrangThai]) VALUES (1, 1, CAST(N'2026-01-01' AS Date), CAST(10000000.00 AS Decimal(18, 2)), CAST(N'2026-01-31' AS Date), CAST(N'2026-03-02' AS Date), N'Đang vay')
SET IDENTITY_INSERT [dbo].[HopDong] OFF
GO
SET IDENTITY_INSERT [dbo].[KhachHang] ON 

INSERT [dbo].[KhachHang] ([MaKhachHang], [HoTen], [SoDienThoai], [CCCD], [DiaChi]) VALUES (1, N'Lê Hoàng Cường', N'0912345678', N'123456789', NULL)
SET IDENTITY_INSERT [dbo].[KhachHang] OFF
GO
SET IDENTITY_INSERT [dbo].[Log_GiaoDich] ON 

INSERT [dbo].[Log_GiaoDich] ([MaLog], [MaHopDong], [NgayTra], [SoTienTra], [NguoiThuTien], [GhiChu]) VALUES (1, 1, CAST(N'2026-05-11T15:52:05.287' AS DateTime), CAST(500000.00 AS Decimal(18, 2)), N'Nhân viên trực ca', N'Khách trả tiền. Tổng nợ lúc trả: 18940500.00')
SET IDENTITY_INSERT [dbo].[Log_GiaoDich] OFF
GO
SET IDENTITY_INSERT [dbo].[TaiSan] ON 

INSERT [dbo].[TaiSan] ([MaTaiSan], [MaHopDong], [TenTaiSan], [GiaTriDinhGia], [TrangThai]) VALUES (1, 1, N'Xe Honda Vision', CAST(25000000.00 AS Decimal(18, 2)), N'Đang cầm cố')
SET IDENTITY_INSERT [dbo].[TaiSan] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__KhachHan__A955A0AAA2851BDF]    Script Date: 5/12/2026 2:59:54 PM ******/
ALTER TABLE [dbo].[KhachHang] ADD UNIQUE NONCLUSTERED 
(
	[CCCD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[HopDong] ADD  DEFAULT (getdate()) FOR [NgayLap]
GO
ALTER TABLE [dbo].[HopDong] ADD  DEFAULT (N'Đang vay') FOR [TrangThai]
GO
ALTER TABLE [dbo].[Log_GiaoDich] ADD  DEFAULT (getdate()) FOR [NgayTra]
GO
ALTER TABLE [dbo].[TaiSan] ADD  DEFAULT (N'Đang cầm cố') FOR [TrangThai]
GO
ALTER TABLE [dbo].[HopDong]  WITH CHECK ADD  CONSTRAINT [FK_HopDong_KhachHang] FOREIGN KEY([MaKhachHang])
REFERENCES [dbo].[KhachHang] ([MaKhachHang])
GO
ALTER TABLE [dbo].[HopDong] CHECK CONSTRAINT [FK_HopDong_KhachHang]
GO
ALTER TABLE [dbo].[Log_GiaoDich]  WITH CHECK ADD  CONSTRAINT [FK_Log_HopDong] FOREIGN KEY([MaHopDong])
REFERENCES [dbo].[HopDong] ([MaHopDong])
GO
ALTER TABLE [dbo].[Log_GiaoDich] CHECK CONSTRAINT [FK_Log_HopDong]
GO
ALTER TABLE [dbo].[TaiSan]  WITH CHECK ADD  CONSTRAINT [FK_TaiSan_HopDong] FOREIGN KEY([MaHopDong])
REFERENCES [dbo].[HopDong] ([MaHopDong])
GO
ALTER TABLE [dbo].[TaiSan] CHECK CONSTRAINT [FK_TaiSan_HopDong]
GO
ALTER TABLE [dbo].[HopDong]  WITH CHECK ADD CHECK  (([SoTienGoc]>(0)))
GO
ALTER TABLE [dbo].[HopDong]  WITH CHECK ADD CHECK  (([TrangThai]=N'Đã thanh lý' OR [TrangThai]=N'Đã thanh toán' OR [TrangThai]=N'Quá hạn (nợ xấu)' OR [TrangThai]=N'Đang vay'))
GO
ALTER TABLE [dbo].[Log_GiaoDich]  WITH CHECK ADD CHECK  (([SoTienTra]>(0)))
GO
ALTER TABLE [dbo].[TaiSan]  WITH CHECK ADD CHECK  (([GiaTriDinhGia]>(0)))
GO
ALTER TABLE [dbo].[TaiSan]  WITH CHECK ADD CHECK  (([TrangThai]=N'Đã bán thanh lý' OR [TrangThai]=N'Sẵn sàng thanh lý' OR [TrangThai]=N'Đã trả khách' OR [TrangThai]=N'Đang cầm cố'))
GO
/****** Object:  StoredProcedure [dbo].[sp_DangKyHopDong]    Script Date: 5/12/2026 2:59:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_DangKyHopDong]
    @HoTen NVARCHAR(100),
    @SĐT VARCHAR(15),
    @CCCD VARCHAR(20),
    @SoTienVay DECIMAL(18,2),
    @NgayLap DATE,
    @TenTaiSan NVARCHAR(100),
    @GiaTriTaiSan DECIMAL(18,2)
AS
BEGIN
    DECLARE @MaKH INT;
    
    -- 1. Kiểm tra khách hàng đã tồn tại chưa, nếu chưa thì thêm mới
    IF NOT EXISTS (SELECT 1 FROM KhachHang WHERE CCCD = @CCCD)
    BEGIN
        INSERT INTO KhachHang (HoTen, SoDienThoai, CCCD) VALUES (@HoTen, @SĐT, @CCCD);
    END
    SELECT @MaKH = MaKhachHang FROM KhachHang WHERE CCCD = @CCCD;

    -- 2. Thêm hợp đồng và tính Deadline (Ví dụ D1 là 30 ngày, D2 là 60 ngày sau khi lập)
    INSERT INTO HopDong (MaKhachHang, NgayLap, SoTienGoc, Deadline1, Deadline2, TrangThai)
    VALUES (@MaKH, @NgayLap, @SoTienVay, DATEADD(day, 30, @NgayLap), DATEADD(day, 60, @NgayLap), N'Đang vay');

    -- 3. Thêm tài sản thế chấp
    DECLARE @MaHD INT = SCOPE_IDENTITY();
    INSERT INTO TaiSan (MaHopDong, TenTaiSan, GiaTriDinhGia, TrangThai)
    VALUES (@MaHD, @TenTaiSan, @GiaTriTaiSan, N'Đang cầm cố');

    PRINT N'Đã đăng ký hợp đồng thành công cho khách hàng: ' + @HoTen;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GiaHanHopDong]    Script Date: 5/12/2026 2:59:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GiaHanHopDong]
    @MaHD INT,
    @NguoiThu NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;
    
    -- 1. Tính số tiền lãi khách phải trả để được gia hạn (Tổng nợ - Gốc)
    DECLARE @Goc DECIMAL(18,2), @TongNoHienTai DECIMAL(18,2), @TienLai DECIMAL(18,2);
    
    SELECT @Goc = SoTienGoc FROM HopDong WHERE MaHopDong = @MaHD;
    SET @TongNoHienTai = dbo.fn_CalcMoneyContract(@MaHD, GETDATE());
    SET @TienLai = @TongNoHienTai - @Goc;

    -- 2. Ghi nhận việc trả lãi vào Log
    INSERT INTO Log_GiaoDich (MaHopDong, NgayTra, SoTienTra, NguoiThuTien, GhiChu)
    VALUES (@MaHD, GETDATE(), @TienLai, @NguoiThu, N'Trả lãi để gia hạn hợp đồng');

    -- 3. Cập nhật lại mốc thời gian của hợp đồng
    -- Dời Deadline 1 và 2 sang kỳ hạn mới (ví dụ +30 và +60 ngày kể từ hôm nay)
    UPDATE HopDong
    SET NgayLap = GETDATE(),
        Deadline1 = DATEADD(day, 30, GETDATE()),
        Deadline2 = DATEADD(day, 60, GETDATE()),
        TrangThai = N'Đang vay'
    WHERE MaHopDong = @MaHD;

    PRINT N'Gia hạn thành công! Khách đã đóng lãi: ' + CAST(@TienLai AS VARCHAR);
    PRINT N'Deadline 1 mới: ' + CAST(DATEADD(day, 30, GETDATE()) AS VARCHAR);
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_XuLyTraNo]    Script Date: 5/12/2026 2:59:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_XuLyTraNo]
    @MaHopDong INT,
    @SoTienKhachTra DECIMAL(18,2),
    @NguoiThuTien NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;

    -- 1. Kiểm tra nếu tài sản đã bị thanh lý
    IF EXISTS (SELECT 1 FROM TaiSan WHERE MaHopDong = @MaHopDong AND TrangThai = N'Đã bán thanh lý')
    BEGIN
        PRINT N'Thông báo: Tài sản đã bị thanh lý sau Deadline 2. Hệ thống không thu tiền và không trả đồ.';
        RETURN;
    END

    -- 2. Tính tổng nợ hiện tại (Gốc + Lãi) bằng Function đã tạo ở bước trước
    DECLARE @TongNoHienTai DECIMAL(18,2);
    SET @TongNoHienTai = dbo.fn_CalcMoneyContract(@MaHopDong, GETDATE());

    -- 3. Ghi nhận giao dịch vào bảng Log
    INSERT INTO Log_GiaoDich (MaHopDong, NgayTra, SoTienTra, NguoiThuTien, GhiChu)
    VALUES (@MaHopDong, GETDATE(), @SoTienKhachTra, @NguoiThuTien, 
            N'Khách trả tiền. Tổng nợ lúc trả: ' + CAST(@TongNoHienTai AS VARCHAR));

    -- 4. Xử lý logic thanh toán và cập nhật trạng thái
    DECLARE @DuNoConLai DECIMAL(18,2) = @TongNoHienTai - @SoTienKhachTra;

    IF @DuNoConLai <= 0
    BEGIN
        -- Trường hợp khách trả hết nợ hoặc trả dư
        UPDATE HopDong SET TrangThai = N'Đã thanh toán đủ' WHERE MaHopDong = @MaHopDong;
        UPDATE TaiSan SET TrangThai = N'Đã trả khách' WHERE MaHopDong = @MaHopDong;
        PRINT N'Kết quả: Khách đã thanh toán đủ. Đã trả toàn bộ tài sản.';
    END
    ELSE
    BEGIN
        -- Trường hợp khách mới trả được một phần
        UPDATE HopDong SET TrangThai = N'Đang trả góp' WHERE MaHopDong = @MaHopDong;
        PRINT N'Kết quả: Đã cập nhật trạng thái Đang trả góp. Số tiền còn nợ: ' + CAST(@DuNoConLai AS VARCHAR);

        -- 5. Đưa ra danh sách gợi ý trả lại tài sản (Quy tắc: Giá trị đồ còn lại >= Dư nợ)
        PRINT N'--- DANH SÁCH TÀI SẢN GỢI Ý CÓ THỂ TRẢ LẠI ---';
        
        DECLARE @TongGiaTriTaiSanDangGiu DECIMAL(18,2);
        SELECT @TongGiaTriTaiSanDangGiu = SUM(GiaTriDinhGia) 
        FROM TaiSan WHERE MaHopDong = @MaHopDong AND TrangThai = N'Đang cầm cố';

        SELECT TenTaiSan, GiaTriDinhGia, N'Có thể trả' AS GoiY
        FROM TaiSan
        WHERE MaHopDong = @MaHopDong 
          AND TrangThai = N'Đang cầm cố'
          AND (@TongGiaTriTaiSanDangGiu - GiaTriDinhGia) >= @DuNoConLai;
    END
END;
GO
